// Colors
$brand-primary: #5b4681;
$grey: #dddddd;
$white: #ffffff;
$light-grey: #f9f9f9;
$dark-grey: #777777;


// Spacing
$space: 1.4rem;
$site-max-width: 50rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Header
$header-bg: $brand-primary;
$header-color: $white;
$header-link-color: $white;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: $white;

// Links
$link-color: #000000;

// Button
$button-bg: $brand-primary;
$button-color: $white;
$button-pill-color: $brand-primary;
$button-default-bg: $light-grey;
$button-default-color: $dark-grey;
$button-default-border-color: $grey;

// item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;
